* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("./assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* background: color source repear position/size */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  /* height: 712px; */
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  border-radius: 8px;
  border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.5));
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  border: 1.5px solid var(--text-color-dark-mode, #fff);
  background: var(--surface-color-dark-mode-hover, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
